[*.{cs,vb}]

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_locals_parameters_members = false

# CS8600: Converting null literal or possible null value to non-nullable type
dotnet_diagnostic.CS8600.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor
dotnet_diagnostic.CS8618.severity = none
